.claude/

*.vs
*.un~
*.cs~
*.pdb
*.dll
**/bin/
**/obj/

configs/
Plugins/*/config/
Tests/artifacts/
docs/

Plugins/AmanamuVoidAlert
Plugins/AuraTracker
Plugins/LootTracker/config/
Plugins/RitualHelper
Plugins/SekhemaHelper
Plugins/StashUtility

POE2Radar
